%modal-base {
  @include flexBox;
  @include pos-center(absolute);
  z-index: 1000;
  flex-direction: column;
  width: 663px;
  height: 675px;
  background-color: $white;
  border-radius: 30px;
}

%modal-background {
  @extend %page-base;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 500;
  background-color: rgba(196, 196, 196, 0.5);
  transform: translateX(-50%);
}
