.drop {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.drop .errmsg {
  font-family: "Font";
  font-weight: 500;
  font-size: 18px;
  color: #ffa243;
  padding: 10px;
}

.dropTitle {
  font-family: "Font";
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 70px;
}
.drop .inputSet {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 84px;
  height: 209px;
  justify-content: space-between;
}
.drop .text {
  font-family: "Font";
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  text-align: center;
}
.drop .bottom {
  display: flex;
  height: 147px;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}
.drop .btntrue {
  width: 600px;
  height: 70px;
  background: #737373;
  border-radius: 30px;
  font-family: "Font";
  font-weight: 700;
  font-size: 36px;
  color: white;
  border: 0px;
}

.drop .btnfalse {
  width: 600px;
  height: 70px;
  background: #ffa243;
  border-radius: 30px;
  font-family: "Font";
  font-weight: 700;
  font-size: 36px;
  color: white;
  border: 0px;
}
