.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginTitle {
  font-family: "Font";
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 70px;
}

.login .inputSet {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 84px;
  height: 190px;
  justify-content: space-between;
}

.login .btntrue {
  width: 600px;
  height: 70px;
  background: #737373;
  border-radius: 30px;
  font-family: "Font";
  font-weight: 700;
  font-size: 36px;
  color: white;
  border: 0px;
}

.login .btnfalse {
  width: 600px;
  height: 70px;
  background: #ffa243;
  border-radius: 30px;
  font-family: "Font";
  font-weight: 700;
  font-size: 36px;
  color: white;
  border: 0px;
}

.login .btnBottom {
  margin-top: 17px;
}

.login .link {
  font-family: "Font";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  text-decoration: none;
  margin-left: 2px;
  margin-right: 2px;
}
