.hotNewItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeTitle {
  display: flex;
  width: 80%;
  align-items: flex-end;
}

.homeTitle .mainTitle {
  font-family: "Font";
  font-size: 36px;
  font-weight: 500;
}

.homeTitle .smallTitle {
  font-family: "Font";
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 7px;
  padding-left: 9px;
}
.productOneLine {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}
