@import "../../styles/main.module.scss";

.mypageMain {
  @include flexBox(even, center);
  flex-direction: column;

  h1 {
    @include text(36px, $text, 700);
  }

  .cardLine {
    @include flexBox(between, center);
    width: 1325px;
    margin-bottom: 37px;
  }
}
